* {
    /* background-color: #92AA83; */
    
}

.container-fluid {
   background-color: #92AA83;
   color: #4DA1A9;
   
}
.jumbotron {
   background:  #92AA83;
    color: #4DA1A9;
    
 }
nav {
    position: fixed;
}