* {
    
}

.container-fluid {
   background-color: #92AA83;
   color: #4DA1A9;
   
}
.jumbotron {
   background:  #92AA83;
    color: #4DA1A9;
    margin-top: -10px;
}
nav {
    
    border: 3px solid #92AA83;
   
}
.weather-container  {
    padding-inline-start: -5px;
    margin-top: -40px;
}

