* {
    
}

.container-fluid {
   background-color: #92AA83;
   color: #4DA1A9;
   
}
.jumbotron {
   background-color:  rgb(170, 193, 224);
    color: rgb(1, 22, 24);
    margin-top: -5px;
}
nav {
    
    border: 3px solid #92AA83;
   
}
.weather-container  {
    padding-inline-start: -5px;
    margin-top: -30px;
}
.card-footer {
    color: rgb(217, 68, 247);
    padding-bottom: 5px;
    margin-bottom: 5px;
}